// COLOURS
:root {
    
    --white: #ffffff;
    --black: #2b2b2b;
    --magenta: #fd4dcc;
    --orange: #ff8168;
    --green: #00f66a;
    --yellow: #d7fb65;
    

    --spacing-small: .5rem;
    --spacing: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 4rem;

    --flow-space: 2rem;

    --font-size-small: .75rem;
    --font-size-default: 1rem;
    --font-size-medium: 1.25rem;

    --cc-btn-primary-bg: var(--pink) !important;

}