@import 'reset';
@import 'variables';
@import 'utilities/torem';

//GLOBAL

body {
    background: url(/img/dots.png), var(--white);
    overflow-x: hidden;
    font-size: var(--step--1);
    font-family: 'Bitter', serif;
    font-weight: 400;
    color: var(--black);

    &[data-theme='magenta'] {
      --themeColor: var(--magenta);
    }

    &[data-theme='orange'] {
      --themeColor: var(--orange);
    }

    &[data-theme='green'] {
      --themeColor: var(--green);
    }

    &[data-theme='yellow'] {
      --themeColor: var(--yellow);
    }





    main {

      @media only screen and (min-width: 48rem) {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: var(--space-l);
        grid-row-gap: var(--space-s);
      
        .left {
            grid-area: 1 / 1 / 2 / 5;
            padding: 0 0 0  var(--space-m);
          }

        .left-short {
          grid-area: 1 / 1 / 2 / 4;
          padding: 0 0 0 var(--space-m);
        }
        
        .right {
          grid-area: 1 / 5 / 2 / 9;
        }

        .right-long {
          grid-area: 1 / 4 / 2 / 9;
        }
      }

      @media only screen and (max-width: 48rem) {
        
        .left, .right {
          padding: var(--space-s);
          overflow-x: hidden;
        }
      }

    }
}

.intro {
  padding: var(--space-s);
  @media only screen and (min-width: 48rem) {
    position: sticky;
    top: var(--space-s);
  }
}

// Headings

  h1 {
    font-size:var(--step-4);
    line-height: 1;
    margin-bottom: var(--space-xs); 
  }

  h1,h2,h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: var(--space-xs);
  }

  .title , .post-content h2 .post-content h3 .post-content h4{
    border-left: solid var(--space-xs) var(--themeColor);
    padding-left: var(--space-s);

    &.green {
      border-color: var(--green);
    }
    &.orange {
      border-color: var(--orange);
    }

  }



  p {
    margin-bottom: var(--space-xs);
  }

  figure {
    figcaption {
      font-family: var(--handwriting-font);
      line-height: 0.7;
      margin-top: var(--space-2xs);
    }
  }

// Links {

a {
  color: var(--black);

  &:hover {
    color: var(--themeColor);
  }
}

//FOCUS

*:focus-visible {
  outline: 3px dotted var(--magenta);
  outline-offset: var(--space-3xs);

}


// High contrast selection 

::selection {
  color: var(--magenta);

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  background: rgba(var(--magenta), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  height: .15rem;
  width:5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--themeColor);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--themeColor);
  border-radius: 0.25rem;
}

/* FORMS */

form {
  margin: var(--space-m) auto;
  padding: var(--space-s);
  max-width: 60ch;

}

label {
  display: inline-block;
  margin: 0 0 var(--spacing-xs);
}

[data-role="row"] {
  margin: 0 0 var(--space-s);
}
[type="name"],
[type="email"],
[type="tel"],
[type="text"],
textarea {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;

  width: 100%;
  background-color: var(--themeColor);
  border-color: var(--themeColor);
  border-width: var(--space-xs);
  border-style: solid;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  transition: all var(--animate-duration-faster) var(--animate-function);
  caret-color: var(--themeColor);
}

textarea {
  min-height: 9.5rem;
  resize: vertical;
  transition: min-height .5s ease-in-out;
}
[type="name"]:focus,
[type="email"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
textarea:focus {
  outline: 0;
  border-color: color-mix(in srgb, var(--themeColor) 75%, var(--black));
  accent-color: color-mix(in srgb, var(--themeColor) 75%, var(--black));
}

input[type]::placeholder {
  // font-family: var(--font-family-default);
  font-size: var(--step--2);
  color: var(--themeColor);
}

input:focus::-webkit-input-placeholder {
  transition: opacity .5s .25s ease !important;
  opacity: 0;
}

input:focus::placeholder {
  transition: opacity .5s .25s ease !important;
  opacity: 0;
}

blockquote > cite {
  border-top: solid 5px var(--green);
  padding-top: var(--space-2xs);
  margin-top: var(--space-xs);
  display: inline-block;
}



// BLOCKS
@import 'blocks/calling-card';
@import 'blocks/profile-pic';
@import 'blocks/switch';
@import 'blocks/header';
@import 'blocks/c-accordion';
@import 'blocks/c-card';
@import 'blocks/postit';
@import 'blocks/c-masthead';
@import 'blocks/paper';
@import 'blocks/torn-paper';
@import 'blocks/polaroid';
@import 'blocks/button';
// @import 'blocks/cta';
@import 'blocks/footer';
// @import 'blocks/inner-header';
// @import 'blocks/skip-link';
// @import 'blocks/telephone-cta';
// @import 'blocks/services-list';
// @import 'blocks/slide-menu';
@import 'blocks/testimonial-block';
// @import 'blocks/timeline';

// UTILITIES

@import 'utilities/visually-hidden';
@import 'utilities/flow';

@import 'utilities/layouts';
// @import 'utilities/gradient-text';

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'light';
  }

 

  // :root:not([data-user-color-scheme]) {
  //   --button-icon: var(--icon-sun);
  //   --white: #2b2b2b;
  //   --black: #ffffff;
  //   --magenta: #bd3898;
  //   --orange: #bf5d49;
  //   --green: #10aa53;
  //   --yellow: #a2c72b;
  //   --paper: #525252;
  //   --paper-line: #263949;
  //   --grey: #484848;
  //   --shadow-color: var(--grey);
  //   --themeColor: var(--magenta);
  //   --postit: #ad9748;

  // body {
  //     background: url(/img/dots-inv.png), #2b2b2b;
  
  //   }
  
  //   .paper {
  //     border-image-source: url("/img/paper-top-inv.svg");
  //   }
  
  //   .calling-card, footer {
  //     * {
  //       color: var(--white);
  //     }
  //   }

  //   .toggle-button__icon {
  //     color: var(--black);
  //   }
  // }
}

[data-user-color-scheme='dark'] {
  --button-icon: var(--icon-sun);
  --white: #2b2b2b;
  --black: #ffffff;
  --magenta: #bd3898;
  --orange: #bf5d49;
  --green: #10aa53;
  --yellow: #a2c72b;
  --paper: #525252;
  --paper-line: #263949;
  --grey: #484848;
  --shadow-color: var(--grey);
  --themeColor: var(--magenta);
  --postit: #ad9748;

  body {
    background: url(/img/dots-inv.png), #2b2b2b;

  }
  .paper {
    border-image-source: url("/img/paper-top-inv.svg");
  }

  .calling-card , footer {
    * {
      color: var(--white);
    }
  }

  .toggle-button__icon {
    color: var(--black);
  }
}




// @media (prefers-color-scheme: dark) {

//   body {
//     background: url(/img/dots-inv.png), #2b2b2b;

//   }
//   .paper {
//     border-image-source: url("/img/paper-top-inv.svg");
//   }

//   .calling-card {
//     * {
//       color: var(--white);
//     }
//   }

// }

