@import 'reset';
@import 'variables';
@import 'utilities/torem';

//GLOBAL

body {
    background-image: url(/img/dots.png);
    overflow-x: hidden;
    font-size: var(--step--1);
    font-family: 'Bitter', serif;
    font-weight: 400;

    &[data-theme='magenta'] {
      --themeColor: var(--magenta);
    }

    &[data-theme='orange'] {
      --themeColor: var(--orange);
    }

    &[data-theme='green'] {
      --themeColor: var(--green);
    }

    &[data-theme='yellow'] {
      --themeColor: var(--yellow);
    }

    main {
      @media only screen and (min-width: 48rem) {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: var(--space-m);
        grid-row-gap: var(--space-m);

        .left {
            grid-area: 1 / 1 / 2 / 5;
            padding: 0 var(--space-m);
          }
        
        .right {
          grid-area: 1 / 5 / 2 / 9;
        }
      }
    }
}

// Headings

  h1 {
    font-size:var(--step-5);
    line-height: 1;
  }

  h1,h2,h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }

  .title {
    border-left: solid var(--space-s) var(--themeColor);
    padding-left: var(--space-s);
  }

// Links {

a {
  color: var(--black);
}


// High contrast selection 

::selection {
  color: var(--magenta);

  // We set this as an RGBA because that's how you get a solid color, by using 0.99
  background: rgba(var(--magenta), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  height: .15rem;
  width:5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border: 1px solid var(--magenta);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--magenta);
  border-radius: 0.25rem;
}

/* FORMS */

form {
  margin: 0;
  padding: 0;
}

label {
  display: inline-block;
  margin: 0 0 var(--spacing-xs);
}

[data-role="row"] {
  margin: 0 0 var(--spacing-s);
}

[type="email"],
[type="tel"],
[type="text"],
textarea {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0;
  padding: var(--spacing-s);
  width: 100%;
  // background-color: var(--color-input-background);
  // border-color: var(--color-input-border);
  // border-width: var(--border-width-r);
  border-style: solid;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  // transition: all var(--animate-duration-faster) var(--animate-function);
  // caret-color: var(--color-accent);
}

textarea {
  min-height: 9.5rem;
  resize: vertical;
  transition: min-height .5s ease-in-out;
}

[type="email"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
textarea:focus {
  outline: 0;
  // border-color: var(--color-border);
  // accent-color: var(--color-accent);
}

input[type]::placeholder {
  // font-family: var(--font-family-default);
  // font-size: var(--font-size-xxs);
  // color: var(--color-input-placeholder);
}

input:focus::-webkit-input-placeholder {
  transition: opacity .5s .25s ease !important;
  opacity: 0;
}

input:focus::placeholder {
  transition: opacity .5s .25s ease !important;
  opacity: 0;
}

// BLOCKS
@import 'blocks/calling-card';
@import 'blocks/profile-pic';
@import 'blocks/switch';
@import 'blocks/header';
@import 'blocks/c-card';
@import 'blocks/button';
// @import 'blocks/cta';
@import 'blocks/footer';
// @import 'blocks/inner-header';
// @import 'blocks/skip-link';
// @import 'blocks/telephone-cta';
// @import 'blocks/services-list';
// @import 'blocks/slide-menu';
// @import 'blocks/testimonial-block';
// @import 'blocks/timeline';

// UTILITIES

@import 'utilities/visually-hidden';
@import 'utilities/flow';

@import 'utilities/layouts';
// @import 'utilities/gradient-text';