---
layout: layouts/home.njk
eleventyNavigation:
  key: Archive
  order: 2
---
<h1>Blog</h1>

{% set currentYear = 0 %}
  {% set yearsToShow = 2 %}
  {% set displayedYears = [] %}

  {% for post in collections.blogs %}
    {% set postYear = post.date | extractYear %}
    {% if yearsToShow != 0 %}
    {% if postYear != currentYear %}
      {% if currentYear != 0 %}
        </ol>
        {% set displayedYears = displayedYears | union([currentYear]) %}
        {% if displayedYears | length >= yearsToShow %}
          {% set yearsToShow = 0 %}
        {% endif %}
      {% endif %}

      <h2>{{ postYear }}</h2>
      <ol class="alt-" data-role="downloads">
    {% endif %}

    <li><a href="{{ post.data.download }}"><span>{{ post.date | dateDay }}</span> {{ post.date | dateMonth }} - <img src="./../img/{{post.data.categories}}.svg" width="35" height="35" alt="Category Icon" /> {{ post.data.title }}</a>
    </li>

    {% set currentYear = postYear %}
    {% endif %}
  {% endfor %}

</ol>


{% set postslist = collections.posts %}
{% include "postslist.njk" %}
