---
layout: layouts/case-studies.njk
eleventyNavigation:
  key: Archive
  order: 2
theme: green
---
<h1>Case Studies</h1>
<p>Unfortunately I can't share most of the work I do as it is often under NDA's as the work is for for design agencies or copanies that would prefer to keep their freelance help under wraps. </p>

<p>Luckily there are select projects that I can share which hopefully give you an idea of my abilties and wehat I can bring to a team or project. </p>




