---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
numberOfCase StudiesToShow: 1
---

<h1>I'm Sush, I design, build & maintain websites.</h1>

I mainly work with smaller clients or help out design agencies and really enjoy anything with an ethical or social mission.

I currently have some availability over the next 2 months - so if you have a project that you think I might be a good fit for get in touch.

