---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
numberOfCase StudiesToShow: 1
theme: home
---

<h1>I'm Sush, I design, build & maintain websites.</h1>

<p>I mainly work with <a href="/my-process/">smaller clients</a> or help out <a href="/design-agencies/">design agencies</a> and really enjoy anything with an ethical or social mission.</p>

<p>I currently have availability from the end of April/Early May - so if you have a project that you think I might be a good fit for get in touch.</p>

