<div class="calling-card {% if callingText %} calling-card--bespoke {% endif %}">
    <h2>{% if callingText %} {{ callingText }} {% else %} Need help on a digital project? {% endif %} </h2>
    <p> Drop me a <a href="mailto:sush@creativityandcode.co.uk" class="">note</a> or find me on 
    <ul class="socials">
        <li><a class="" href="https://bsky.app/profile/sushkelly.co.uk" rel="noreferrer" target="_blank"><img src="/img/bluesky.svg" alt="" width="25" height="25" aria-hidden="true">Bluesky</a> </li>
        <li><a class="" href="https://www.threads.net/@sushkelly" rel="noreferrer" target="_blank"><img src="/img/threads.svg" alt="" width="25" height="25" aria-hidden="true"> Threads</a></li>
        <li><a href="http://instagram.com/sushkelly" rel="noreferrer" target="_blank" class=""><img src="/img/insta.svg" alt=""  width="25" height="25" aria-hidden="true"> Instagram</a></li>
        <li><a class="" href="https://www.linkedin.com/in/sushkelly/" rel="noreferrer" target="_blank"><img src="/img/linkedin.svg" alt="" width="25" height="25" aria-hidden="true"> LinkedIn</a></li>
    </ul>  
</div>