<div class="calling-card {% if callingText %} calling-card--bespoke {% endif %}">
    <h2>{% if callingText %} {{ callingText }} {% else %} Need help on a digital project? {% endif %} </h2>
    <p> Drop me a <a href="mailto:sush@creativityandcode.co.uk" class="">note</a> or find me on 
    <ul class="socials">
        <li><a class="" href="https://twitter.com/maxray" rel="noreferrer" target="_blank"><img src="/img/twitter-x.svg" alt="Twitter" width="25" height="25"></a> Twitter</li>
        <li><a class="" href="https://twitter.com/maxray" rel="noreferrer" target="_blank"><img src="/img/threads.svg" alt="Threads" width="25" height="25"></a> Threads</li>
        <li><a href="http://instagram.com/sushkelly" rel="noreferrer" target="_blank" class=""><img src="/img/insta.svg" alt="Instagram"  width="25" height="25"></a> Instagram</li>
        <li><a class="" href="https://twitter.com/maxray" rel="noreferrer" target="_blank"><img src="/img/linkedin.svg" alt="LinkedIn" width="25" height="25"></a> LinkedIn</li>
    </ul>  
</div>