{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Work & Play</h3>
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<ol reversed class="flow  postlist">
{% for post in postslist %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<div class="c-card c-card--post">
		<figure>
			{% set img = post.data.thumbnail_image %}
			{% image img, post.data.title , '(min-width: 600px) 50vw, 100vw' %}
			<figcaption>{{ post.data.title }}</figcaption>
  	</figure>
			<div class="flow ">
				<h3 class="title">{{ post.data.title  }}</h3>
			<div class="post-meta"><img src="/img/{{post.data.categories}}.svg" width="35" height="35" alt="{{categories}}" />  <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></div>
				<p>{{ post.data.intro  }}</p>
				<a href="{{ post.url }}" class="button">Read Post</a>
			</div>
		</div>
	</li>
{% endfor %}
</ol>


{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the blog</a>.</p>
{% endif %}