{% for item in collections.latestCaseStudy %}
<h3 class="title green">Latest Project</h3>
<div class="c-card c-card--casestudy">
  <figure class="polaroid">
    {% set img = item.data.thumbnail_image %}
    {% image img, item.data.title , '(min-width: 600px) 50vw, 100vw' %}
    <figcaption>{{ item.data.title }}</figcaption>
  </figure>
  <div class="flow">
    <h3 class="title">{{ item.data.title  }}</h3>
    <p>{{ item.data.intro  }}</p>
    <a href="{{ item.url }}" class="button">Read Case Study</a>
  </div>
</div>
{% endfor %}
