<div class="paper flow">
    <h2>Need help on a digital project?</h2>
    <p> Drop me a <a href="mailto:sush@creativityandcode.co.uk" class="">note</a> or find me on 
    <ul class="socials">
        <li><a class="" href="https://twitter.com/maxray" rel="noreferrer" target="_blank"><img src="/img/twitter.svg" alt="Twitter" width="25" height="25"></a> Twitter</li>
        <li><a class="" href="https://twitter.com/maxray" rel="noreferrer" target="_blank"><img src="/img/twitter.svg" alt="Twitter" width="25" height="25"></a> Threads</li>
        <li><a href="http://instagram.com/sushkelly" rel="noreferrer" target="_blank" class=""><img src="/img/instagram.svg" alt="Instagram"  width="25" height="25"></a> Instagram</li>
        <li><a class="" href="https://twitter.com/maxray" rel="noreferrer" target="_blank"><img src="/img/twitter.svg" alt="Twitter" width="25" height="25"></a> LinkedIn</li>
    </ul>  
</div>