// Buttons

.button {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 1.2rem;
  transition: all 0.3s ease-in;
  display: inline-block;
  padding: var(--space-2xs)var(--space-s) var(--space-2xs) var(--space-2xs);
  border-left: solid 1rem var(--themeColor);
  background-color: color-mix(in srgb, var(--themeColor) 10%, transparent);
  text-decoration: none;
  display: inline-block;
  // Make sure hover state trumps all variants with a good ol’ important
  // &:hover {
  //   background: var(--khaki) !important;
  //   color: var(--white) !important;}

}