.c-card {
display: flex;
gap: var(--space-m);
flex-direction: column;
margin-left: var(--flow-space);
margin-right: var(--flow-space);

figure {
  background: var(--white);
  padding: var(--space-s);
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  transform: rotate(2deg);
  img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  figcaption {
    font-family: 'Caveat', cursive;
  }
}

@media only screen and (min-width: 30rem) and (max-width: 48rem) {
  flex-direction: row;
}


@media only screen and (min-width: 75rem) {
  flex-direction: row;
}

// Case Study Card 

&--casestudy {
  --linkColor: var(--green);
  --themeColor: var(--green);

  .flow {
    --flow-space: var(--space-xs);
  }
}

// Post Card 

&--post {
  
  --linkColor: var(--orange);
  --themeColor: var(--orange);

  .flow {
    --flow-space: var(--space-xs);
  }

  flex-direction: row;

  figure {
    width: 25%;
    align-self: flex-start;
    padding: var(--space-2xs);
    transform: rotate(-2deg);

  }

  .flow {
    width: 75%;
  }
}
}