.c-masthead {
    background-color: var(--themeColor);
    padding: var(--space-s);


    @media only screen and (min-width: 48rem) {
      padding: var(--space-m);
    }
    box-shadow: var(--box-shadow);

    @media only screen and (min-width: 48rem) {

    padding: var(--space-m) var(--space-s) var(--space-m) var(--space-s);
    margin-bottom: 5vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: var(--space-s);
    grid-row-gap: var(--space-s);
  
    }
    @media only screen and (max-width: 48rem) {
        margin-bottom: var(--space-s);
    }

@media only screen and (max-width: 37.5rem) {
display: flex;
flex-direction: column-reverse;

}


    .left {
      grid-area: 1 / 1 / 2 / 6;
      padding: 0;
    }


    .right {
      grid-area: 1 / 6 / 2 / 9;
      position: relative;

      .polaroid {
        @media only screen and (min-width: 48rem) {
          position: absolute;
          top: -15vw;
        }

        @media only screen and (min-width: 80rem) {
          position: fixed;
          top: 0;
        }

      }
    }





  &-meta {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    img {
        display: inline;
      }

  }





}