// Calling Card

.calling-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-grid-row: 5;
  grid-row: 5;
  padding: 3rem 2rem 3rem 2rem;
  color: var(--black);
  position: relative;
  align-self: center;
  background-color: var(--yellow);



h2 , p {
  margin: .25rem auto 1rem auto;
}

div {
  max-width: 70ch;
  margin: auto;
}

  img {
    width: to-rem(25px);
  }




  a {
    color: #2b2b2b;

    &:hover {
      color: #2b2b2b;
    }
  }

  .strike:hover {
    color: #ffffff;
  }

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;

  li a{
    display: flex;
    gap: var(--space-xs);

    img {
      max-width: none;/* antialiasing */
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
        // transform: translateZ(0);
        will-change: transform;
        -webkit-perspective: 1000;
      ;
    }
  }
}
}




[data-jauntyness="jaunty"] {

    .calling-card {
        transform: rotate(-4deg);
        box-shadow: var(--box-shadow);
    }

    .calling-card--bespoke  {
      transform: rotate(2deg);
    }

        .calling-card--about {
          background-color: var(--magenta);
        }

    .calling-card--case-study {
      transform: rotate(4deg);
      background-color: var(--green);
    }

    .calling-card:before {
      background-image: url(/img/Paperclip.svg);
      content: " ";
      position: absolute;
      width: 32px;
      height: 118px;
      left: 21px;
      top: -28px;
      transform: rotate(99deg);
      /* antialiasing */
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
        // transform: translateZ(0);
        will-change: transform;
        -webkit-perspective: 1000;
    }

    

}