footer {
    position: sticky;
    top: 100vh;
    background-color: var(--black);
    color: var(--white);
    margin-top:var(--space-2xl);
    font-size: var(--font-size-small);
    padding: var(--space-2xl);
    display: flex;
    align-items: center;
    gap: var(--spacing);

    svg {
        width: 10rem;
        .st0 {
                fill: var(--white);
            }
    }
}