footer {
    position: sticky;
    top: 100vh;
    background-color: var(--themeColor);
    color: var(--black);
    margin-top:var(--space-l);
    font-size: var(--font-size-small);
    padding: var(--space-l);
    display: flex;
    align-items: center;
    gap: var(--space-s);
    justify-content: space-between;

    svg {
        width: 10rem;
        .st0 {
                fill: var(--black);
            }
    }


}