// Polaroid Style

.polaroid {
      background: var(--white);
      padding: var(--space-2xs);
      box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
      align-self: flex-start;

      @media only screen and (min-width: 37.5rem) {
          max-width: 40%;
        }
      img {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
      }
  
      figcaption {
        font-family: var(--handwriting-font);
      }
}

.ducky {

  figcaption {
    font-family: var(--handwriting-font);
  }
}

[data-jauntyness="jaunty"] {

.polaroid , .ducky {
    transform: rotate(2deg);
    margin-bottom: var(--space-s);
  }

}