.team-list {

    list-style: none;
    margin: 0;
    padding: 0;



    li {

        display: flex;
        align-items: flex-start;

        h4 {
            font-size: 1.5rem;
        }

        div {
            --flow-space: .5rem;
        }

        .team-role {
            color: var(--green-light);
        }

        img {
            margin-right: var(--space-m);
            border-radius: 50%;
            width: 120px !important;
            height: 120px !important;
            max-width: 120px !important;
            object-fit: cover;
            object-position: top;
        }


    }

}

.team-list-slim {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    li {
        h4 {
            font-size: 1.5rem;
        }

        .team-role {
            color: var(--green-light);
        }

        width:50%;
        margin-bottom:var(--space-m);
    }
}