// Paper sheet

.torn-paper {
  background-image: url(/img/torn.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: var(--space-2xl);

  figcaption {
    transform: rotate(-2deg);
    text-align: center;
    margin-top: 10px;
  }
}

[data-jauntyness="jaunty"] {



}