<!doctype html>
<html lang="{{ metadata.language }}" data-jauntyness="jaunty">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-HEJ4JFJSW8"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-HEJ4JFJSW8');
		</script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		<!-- HTML Meta Tags -->
<title>Creativity & Code</title>
<meta name="description" content="Web Design and Digital Services in Birmingham">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ metadata.url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title or metadata.title }}">
<meta property="og:description" content="{{ metadata.description }}">
<meta property="og:image" content="https://sushkelly.co.uk/img/twitter.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="sushkelly.co.uk">
<meta property="twitter:url" content="{{ metadata.url }}">
<meta name="twitter:title" content="{{ title or metadata.title }}">
<meta name="twitter:description" content="{{ metadata.description }}">
<meta name="twitter:image" content="https://sushkelly.co.uk/img/twitter.jpg">


		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		<meta name="generator" content="{{ eleventy.generator }}">

		{%- css %}{% include "_includes/css/critical.css" %}{% endcss %}
		{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

		<link rel="icon" type="image/png" sizes="16x16" href="/favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@100;300&family=Caveat:wght@400;700&family=Raleway:wght@700&family=Grape+Nuts&&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.9/dist/cookieconsent.css">
		<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.9/dist/cookieconsent.js"></script>
	</head>
	<body data-theme="{{theme}}">
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<header class="header">
       <a href="/" class="home-link" title="home">{% include "images/logo.svg" %} </a>
      <nav class="nav">
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul>
				{% for item in navigation.items %}
					<li>
						<a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }} class="{{ item.class }}" target="{{ item.target }}">{{ item.text }}</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
    </header>
		<main id="skip" class="main">
			{{ content | safe }}
		</main>

		<footer>
<a href="/" class="home-link" title="home">{% include "images/logo.svg" %} </a>
			<small>
				&#169; 2018 - now 
				</small>
		

<div class="user-toggle">
<div role="status" class="visually-hidden  js-mode-status "></div>
<button class=" toggle-button  js-mode-toggle ">
<span class="visually-hidden  toggle-button__text  js-mode-toggle-text ">Enable dark mode</span>
<span class="toggle-button__icon" aria-hidden="false"></span>
</button>
</div><!-- user-toggle -->

</footer>
			{% include "js/footer-scripts.html" %}
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->

	</body>
</html>
