---
layout: layouts/default.njk
callingText: Looking to do something like this?
---
<div class="c-masthead">
	<div class="left flow">
	<h1>{{ title }}</h1>
	<p>{{ intro  }}</p>
	</div>
	<div class="right">
{%- if thumbnail_image %}
<figure class="polaroid">
{% set img = thumbnail_image %}
	{% image img, title ,  '(min-width: 600px) 50vw, 100vw'  %}
	<figcaption>{{ title }}</figcaption>
</figure>
{%- endif %}
	</div>
</div>

<div class="post-content flow">

{{ content | safe }}

<div class="calling-card calling-card--case-study">
{{ collateral | safe }}
</div>

<div class="paper">
	<h3>What the client said:</h3>
	<blockquote>{{ client_notes | safe }}<blockquote>
	<cite>{{ client_cite }}</cite>
</div>

{% include  "partials/calling-card.html" %}


{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
</div>