---
layout: layouts/base.njk
---

<div class="left flow">
<div>
{{ content | safe }}
</div>
{% include  "partials/why-work-with-me.html" %}
</div>
<div class="right flow">
<div class="split">
{% include  "partials/sush-pic.html" %}
{% include  "partials/calling-card.html" %}
</div>
{% include  "partials/latest-case-study.html" %}
{% include  "partials/latest-posts.html" %}
<div class="c-card c-card--contact" >
  <figure>
    <img src="/img/rubber-duck.png" />
	<figcaption>Programmers use a rubber duck to walk through their problems and try and solve them. </figcaption>
  </figure>
  <div class="flow">
    <h3 class="title">Let's solve a problem</h3>
    <p> As much as I love freelancing it can be a quiet existence and I really do miss those little problem solving challenges, so I thought I would try a thing.</p>
    <a href="/rubber-duck" class="button">Book a chat</a>
  </div>
</div>
</div>