---
layout: layouts/base.njk
---

<div class="left flow">
<div>
{{ content | safe }}
</div>
{% include  "partials/why-work-with-me.html" %}
</div>
<div class="right flow">
<div class="split">
{% include  "partials/sush-pic.html" %}
{% include  "partials/calling-card.html" %}
</div>
{% include  "partials/latest-case-study.html" %}
{% include  "partials/latest-posts.html" %}
</div>