---
layout: layouts/base.njk
---

<div class="left flow">
<div>
{{ content | safe }}
</div>
<div class="split">
<div>
 <figure class="polaroid">
            {% image "Screenshot 2024-01-02 at 20.27.45.png", "A creative hub that enabled so many people to express themselves" , '(min-width: 600px) 50vw, 100vw' %}
<figcaption>A creative hub that enabled so many people to express themselves</figcaption>
      </figure>

</div>
<div>
<h3 class="title">Art Rooms Kings Heath</h3>
<p>One of community projects I have been most proud of was what we achieved at the Art Rooms. From a wreck of a building with an addictive charm about it we created an art hub that enabled the public and local artists to express themselves creativly. We put on free classes and work shops and just had a good old time! Sadly the properly was finally needed by its owner but you casn see loads of the amazing things <a href="https://www.instagram.com/artroomskh/">the Art Rooms</a> in Kings Heath had to offer on Instagram.</p>
</div>
</div>

<div class="split">
<div>
<h3 class="title">Low Traffic Rage</h3>
<p>There isn't much that get's certain people incandecant with rage faster than the talk of 'Low Traffic Neighbourhoods' (feel blessed if this term is an unknown to you!) I did a little citizen science to do some air quality measuring when they were installed near me. <a href="https://www.kingsheathltn.co.uk/">www.kingsheathltn.co.uk</a> documents my findings.</p>
</div>
<div>
 <figure class="polaroid">
            {% image "silver-st-2048x1196.jpg", "A divisive subject figuratively and literally. What is going on with all the planters and bollards?" , '(min-width: 600px) 50vw, 100vw' %}
<figcaption>A divisive subject figuratively and literally. What is going on with all the planters and bollards?</figcaption>
      </figure>
</div>
</div>






</div>
<div class="right flow">
{% include  "partials/sush-pic.html" %}


<div class="split">
<div>
<h3 class="title">Away from the screen</h3>
<p>Doing manual things is a real antidote to a life spent working mainly on a screen. <a href="https://cb500project.sushkelly.co.uk/">Converting an old commuter bike into a track day race bike</a> was a really enjoyable project!</p>
</div>
<div>
 <figure class="polaroid">
            {% image "wheelie-good-cb500-cadwell.jpg", "Wheelies on the mountain at Cadwell Park" , '(min-width: 600px) 50vw, 100vw' %}
<figcaption>Wheelies on the mountain at Cadwell Park</figcaption>
      </figure>
</div>
</div>
<div class="split">
<div>
 <figure class="polaroid">
            {% image "Screenshot 2024-01-02 at 20.36.29.png", "You wouldn't believe I actually grew these." , '(min-width: 600px) 50vw, 100vw' %}
<figcaption>You wouldn't believe I actually grew these.</figcaption>
      </figure>

</div>
<div>
<p>It is quite the contradiction to on the one hand love engines and motorsport but also enjoy calmer pastimes like growing veggies, the manual process is a flowing theme throughout my life. </p>
</div>
</div>

<div class="split">
<div>
<h3 class="title">Back int day... </h3>
<p> Being an old man of the sea, over time I have ended up having quite a mish mash of interests. I am a big fan of both listening to and playing music, infact there is actual living proof (albeit on a tape cassette - remember them kids?) of my days playing in a post punk band.</p>
</div>
<div>
{% include  "partials/tape-deck.html" %}

</div>
</div>


</div>

