---
layout: layouts/base.njk
---

<div class="left flow">
<div>
{{ content | safe }}
</div>

</div>
<div class="right flow">


<div class="split">
<div>
<h3 class="title">Away from the screen</h3>
<p>Doing manual things is a real antidote to a life spent working mainly on a screen. <a href="https://cb500project.sushkelly.co.uk/">Converting an old commuter bike into a track day race bike</a> was a really enjoyable project!</p>
</div>
<div>
 <figure class="polaroid">
            {% image "wheelie-good-cb500-cadwell.jpg", "Wheelies on the mountain at Cadwell Park" , '(min-width: 600px) 50vw, 100vw' %}
<figcaption>Wheelies on the mountain at Cadwell Park</figcaption>
      </figure>
</div>
</div>



</div>

